#!/bin/bash
################################################################################
function pending(){
Slurm queue pending
}
################################################################################
function queues(){
Slurm partition "$@"
}
################################################################################
function load(){
Slurm nodes load "$@"
}
################################################################################
function erase(){
unset -f load
unset -f queues
unset -f pending
}
################################################################################
